* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #4f372d;
  overflow: auto;
}

#projects-header::before {
  display: block;
  content: " ";
  height: 200px;
  margin-top: -200px;
  visibility: hidden;
  pointer-events: none;
}

.welcome {
  height: 100vh;
  width: 100%;
  background-color: #bcd2d0;
  text-align: center;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: right;
  text-transform: uppercase;
  padding: 20px;
  background-color: #bcd2d0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #666;
}

.nav-link {
  padding: 30px;
}

.welcome-text {
  padding-top: 40vh;
  margin: 0;
}

.welcome p {
  color: #4d7358;
}

#projects {
  background-color: #e1e9b7;
  padding: 50px;
}

#projects-header {
  padding-bottom: 40px;
}

h2 {
  padding-bottom: 10px;
  font-size: 24px;
}

.project-grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 0 auto;
}

.project-grid  img {
  margin: 0;
  height: 242px;
}

.project-grid p {
  background-color: #bcd2d0;
  padding: 10px;
  margin-top: -5px;
  border-top: 1px solid #4f372d;
}

.project-tile {
  max-width: 400px;
  height: 288px;
  border: 1px solid #4f372d;
  margin: 0 auto;
}

.contact-section {
  background-color: #d0b783;
  padding: 30px;
}

.contact-section p {
  font-size: 18px;
}

.contact-section img {
  width: 50px;
  height: 50px;
  margin: 30px 10px;
}

footer {
  background-color: #bcd2d0;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.credit,
.credit a {
  font-size: 14px;
  padding-top: 10px;
}


@media (max-width: 768px) {
  nav {
    text-align: center;
  }

  .nav-link {
    padding: 5px;
  }

  h1 {
    font-size: 30px;
  }

  #projects {
    padding: 20px;
  }

  .project-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .project-tile {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
  }

  .project-grid img {
    height: auto;
  }

  .contact-section img {
    width: 40px;
    height: 40px;
    margin: 20px 10px;
  }
}
