* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  color: #4f372d;
}

.welcome {
  height: 100vh;
  width: 100%;
  background-color: #bcd2d0;
  text-align: center;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: right;
  text-transform: uppercase;
  padding: 20px;
  background-color: #bcd2d0;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  padding: 30px;
}

.welcome-text {
  padding-top: 40vh;
  margin: 0;
}

.welcome p {
  color: #4d7358;
}

#projects {
  background-color: #e1e9b7;
  padding: 50px;
}

h2 {
  padding-bottom: 40px;
  font-size: 24px;
}

.project-grid {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 0 auto;
}

.project-tile {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 0 auto;
}

.contact-section {
  background-color: #d0b783;
  padding: 20px;
}

footer {
  background-color: #bcd2d0;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .project-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-tile {
    margin: 20px;
  }

  nav {
    text-align: center;
  }
}
